.navbar {
  display: flex;
  justify-content: space-between;
  margin: 40px 100px;

  @include mobile {
    margin: 40px 30px;
  }

  @include tablet {
    margin: 40px 50px;
  }
}

.listWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  @include mobile {
    gap: 25px;
  }
}

.logo {
  @include mobile {
    width: 100px;
  }

  @include tablet {
    width: 150px;
  }
}

li {
  color: black;
  margin: 0;
  font-size: 24px;

  @include mobile {
    font-size: 14px;
  }

  @include tablet {
    font-size: 16px;
  }
}


.active {
  text-decoration: underline;
}

.logo--header {
  @include tablet {
    width: 75%;
    max-width: 500px;
  }
    @include mobile {
    width: 75%;
    max-width: 200px;
  }
}